# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

# Set default charset
charset = utf-8

# 2 columns indentation
indent_style = space
indent_size = 2

[*.{java,md,py}]
# 4 columns indentation
indent_style = space
indent_size = 4

[*.go]
# 8 columns indentation
indent_style = tab
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
function_next_line = true  # like -fn

# Ignore the entire "third_party" directory.
[third_party/**]
ignore = true
