[core]
	excludesfile = /Users/datousir/.gitignore_global
#  pager = delta

#--- delta ---
# https://github.com/dandavison/delta
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  line-numbers = true
  minus-color = "#340001"
  plus-color = "#012800"
  syntax-theme = Monokai Extended
#  side-by-side = true
[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default
#--- delta ---
#
[credential]
	helper = store
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
