[core]
#  pager = delta

#--- delta ---
# https://github.com/dandavison/delta
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  line-numbers = true
  minus-color = "#340001"
  plus-color = "#012800"
  syntax-theme = Monokai Extended
#  side-by-side = true
[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default
#--- delta ---
#
[credential]
	helper = store
